.menuContainer { 
    grid-area: menu;
    display: grid;
    grid-template-rows: [logo] 25% [balance] 10% [overview] 10% [income] 10% [outgoings] 10% [settings] 10% [filler] auto;
    grid-template-columns: 1;
    grid-template-areas:"logo"
                        "balance"
                        "overview"
                        "income" 
                        "outgoings"
                        "settings"
                        "info";
    background-color: #5EAB4D;
    border-right: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, .6);
    z-index: 2;
}

.btnHover:hover{background-color: #3C6D32 !important;}

.logo { 
    grid-area: logo;
    width: 100%;
    height: 100%;
    background-color: #5EAB4D;
    border: 1px solid  #569C46 !important;
}

.overview { 
    grid-area: overview;
    height: 100%;
    width: 100%;
    background-color: #5EAB4D !important;
    color: white !important;
    border: 1px solid  rgba(86, 156, 70, 0.8) !important;
}

.income { 
    grid-area: income;
    height: 100%;
    width: 100%;
    background-color: #5EAB4D !important;
    color: white !important;
    border: 1px solid  rgba(86, 156, 70, 0.8) !important;
}

 .outgoings { 
    grid-area: outgoings;
    height: 100%;
    width: 100%;
    background-color: #5EAB4D !important;
    color: white !important;
    border: 1px solid  rgba(86, 156, 70, 0.8) !important;
}

.settings { 
    grid-area: settings;
    height: 100%;
    width: 100%;
    background-color: #5EAB4D !important;
    color: white !important;
    border: 1px solid  rgba(86, 156, 70, 0.8) !important;
}

.info { 
    justify-self: center;
}

.infoWrapper {
    color: white;
    justify-self: center;
    margin: 5%;
}

.balance { 
    grid-area: balance;
    width: 100%;
    height: 100%;
    background-color: #5EAB4D !important;
    color: white !important;
    border: 1px solid  rgba(86, 156, 70, 0.8) !important;
    border-bottom: 0px;
}