.overviewContainer { 
    grid-area: mainContent;
    display: grid;
    grid-template-rows: [top] 50% [bottom] 50%;
    grid-template-columns: [graphs] 33.3% [content] auto;
    grid-template-areas: "incomeChart incomeView"
                         "outgoingsChart outgoingsView";
    background-color: #F2F7F2;
}

.incomeChartContainer {
    grid-area: incomeChart;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .1);   
    border-right: 0px;
}

.incomeViewContainer { 
    grid-area: incomeView;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .1);  
}


.outgoingsChartContainer {
    grid-area: outgoingsChart;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .1); 
    border-top: 0px;  
}

.outgoingsViewContainer { 
    grid-area: outgoingsView;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .1); 
    border-left: 0px;   
}

.tableWrapper {
    width: 95%;
    height: 90%;
    margin: 2%;
    overflow-y: scroll;
}

.chartWrapper {
    width: 93%;
    height: 93%;
    margin: 3%;
}

.oHeader { 
    transform: translateX(5%) translateY(100%);
    z-index: 2;
}